aclocal.m4
autom4te.cache/
_build/
compile
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
cscope.files
cscope.out
data/Makefile
data/Makefile.in
data/menu
data/styles/Makefile
data/styles/Makefile.in
depcomp
doc/blackbox.1
doc/fr_FR/Makefile
doc/fr_FR/Makefile.in
doc/ja_JP/Makefile
doc/ja_JP/Makefile.in
doc/Makefile
doc/Makefile.in
doc/nl_NL/Makefile
doc/nl_NL/Makefile.in
doc/sl_SI/Makefile
doc/sl_SI/Makefile.in
install-sh
*.la
lib/.deps/
lib/.libs/
lib/Makefile.in
libtool
*.lo
*.log
ltmain.sh
m4/
Makefile
Makefile.in
missing
*.o
*.pc
src/blackbox
src/.deps/
src/Makefile
src/Makefile.in
stamp-h1
*.swo
*.swp
util/bsetroot
util/bstyleconvert
util/.deps/
util/Makefile
util/Makefile.in
version.h
