Makefile.in
_build/
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
cscope.files
cscope.out
data/Makefile.in
data/styles/Makefile.in
depcomp
doc/Makefile.in
doc/fr_FR/Makefile.in
doc/ja_JP/Makefile.in
doc/nl_NL/Makefile.in
doc/sl_SI/Makefile.in
install-sh
lib/Makefile.in
ltmain.sh
m4/
missing
src/Makefile.in
util/Makefile.in
